body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: rgb(193, 238, 252);
}

#root {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.main-div {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.page-div {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}